# Example .env for AI-TS-Lib apps
LMS_PORT=5324
OLLAMA_PORT=11434

HF_API_KEY=[API KEY]
OPENAI_API_KEY=[API KEY]
ANTHROPIC_API_KEY=[API KEY]
NEBIUS_API_KEY=[API KEY]
GROK_API_KEY=[API KEY]
TOGETHER_API_KEY=[API KEY]
GEMINI_API_KEY=[API KEY]
NVIDIA_API_KEY=[API KEY]

